:root {

  --bgcolormain: hsl(47, 88%, 63%);
  --h1color: hsl(0, 0%, 7%);
  --pcolor: hsl(0, 0%, 42%);
  --bodybgcolor: hsl(0, 0%, 100%);
  --box-shadow-default: 0.5rem 0.5rem 0 0.1rem black;

}

main{
display: flex;
justify-content: center;
align-items: center;
}

body{
background: var(--bgcolormain);
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 1rem;


}

section{
display: flex;
flex-direction: column;
align-items: center;
background: var(--bodybgcolor);
box-shadow: var(--box-shadow-default);
border-radius: 1.5rem;
border: solid 0.0625rem black;
max-width: 93%;
font-family: Figtree, Arial, Helvetica, sans-serif;
letter-spacing: -0.06rem;
max-width: 95%;
}

.image{
display:flex;
justify-content: center;
align-items: center;
max-width: 86%;
overflow: hidden;
border-radius: 0.7rem;
margin-top: 1.5rem;
}

.abstract{
zoom: 103%;

}
.button{
  display: flex;
  align-self: flex-start;
  margin: 1.5rem 1.5rem 1rem 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--bgcolormain);
  border-radius: 0.3rem;
  font-weight: 800;
  font-size: 1rem;
  justify-content: center;
  
}

.date{
  align-self: flex-start;
  margin: 0rem 1.5rem 0rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.title{
  align-self: flex-start;
  margin: 1rem 1.5rem 1rem 1.5rem;
  font-weight: 800;
  font-size: 1.4rem;
}

.infos{
  align-self: flex-start;
  margin: 0rem 1.5rem 0rem 1.5rem;
  color: var(--pcolor);
  letter-spacing: 0rem;
  font-size: 0.9rem;
  font-weight: 700;
}

p {
 margin: 0rem;
}

.signature{
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  font-weight: 800;
  font-size: 1rem;
}

.avatar{
  zoom: 50%;
}

@media screen and (min-width:46.875em){

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  section{

    max-width: 50%;
  }

  .title{
    font-weight: 800;
    font-size: 1.6rem;
  }

  .infos{
    letter-spacing: 0.01rem;
    font-size: 1rem;
    font-weight: 500;
  }
}